/** BACKGROUND COLOR PALETTE **/ 
:root {
    --Lightgrey: #bcc4c4;
    --Medgrey: #9fa8a8;
    --Darkgrey: #6f7777;
}


/** HTML **/ 
html {
    margin: 0px;
     padding: 0px; 
}
/** BODY **/
 body {
 background-image: linear-gradient(to right bottom, var(--Lightgrey),var(--Darkgrey));

 }
 
 /** JUMBOTRON STYLING **/ 


/** styles for the product-images **/ 

#joker {
    background-image: url(../Images/80b0b5e9c76cf893cce3863fc9bef8e9--funk-pop-funko-toys.jpg);
    background-size: cover;
}

#cat {
    background-image: url(../Images/12449_DrSeuss_CatInTheHat_POP_GLAM_HiRes_1024x1024__85848.1485822113.jpg);
    background-size: cover;
}


#grinch {
    background-image: url(../Images/grichbig.jpg);
    background-size: cover;
}

#katana {
    background-image: url(../Images/12854_DC_BOMBSHELL_katana_GLAM_HiRes_1024x1024__03273.1486768608.jpg);
    background-size: cover;
}




/** MEDIA QUERIES **/ 

